@import "libs/variables";
@import "libs/reset";
@import "libs/mixins";
@import "libs/utilities";
@import "communs/header_menu";
@import "communs/footer";
@import "communs/alertes";

body {
  background-color: #e9e9e9;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
}

.bodycontent{
  flex-grow: 1;
}
h1{
  font-family: Kaushan script;
}
