.entryForm {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 50%;
  margin: 0 auto;
}
.entryForm label {
  margin: 15px 0;
}
.entryForm input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  outline-color: violet;
}
.entryForm input:focus {
  box-shadow: 3px 3px 6px violet;
}
.entryForm button, .entryForm .buttonEntryForm {
  min-height: 40px;
  border-radius: 5px;
  margin: 50px 0;
  font-size: 20px;
  box-shadow: 0px 0px 2px 2px violet;
  transition: all 1.5s;
  position: relative;
  cursor: pointer;
}
.entryForm button:before, .entryForm .buttonEntryForm:before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 0px;
  background-color: rgb(116, 4, 116);
  z-index: -1;
  top: 0;
  left: 0;
  transition: all 1s;
}
.entryForm button:after, .entryForm .buttonEntryForm:after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 0px;
  background-color: rgb(116, 4, 116);
  z-index: -1;
  top: 0;
  right: 0;
  transition: all 1s;
}
.entryForm button:hover, .entryForm .buttonEntryForm:hover {
  box-shadow: 0px 0px 10px 10px violet;
  color: #f1f1f1;
  z-index: 2;
}
.entryForm button:hover:before, .entryForm .buttonEntryForm:hover:before {
  width: 50%;
}
.entryForm button:hover:after, .entryForm .buttonEntryForm:hover:after {
  width: 50%;
}

.bouton_inactif {
  pointer-events: none;
  opacity: 0.5;
}
.bouton_inactif:after {
  display: none;
}
.bouton_inactif:before {
  display: none;
}

.dnone {
  display: none;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  background-color: #c4c4c4;
}

.navigation {
  color: #333;
}
.navigation ul {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navigation li {
  font-size: 22px;
}
.navigation li:hover {
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c4c4c4;
  color: #333;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animTitres {
  width: 90%;
  margin: 25px auto;
}
.animTitres h1 {
  font-size: clamp(20px, 20px + 1vw, 40px);
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  font-weight: bold;
  color: violet;
  margin-bottom: 15px;
  cursor: pointer;
}
.animTitres h2 {
  font-size: 25px;
  color: yellowgreen;
  text-decoration: underline;
  margin-bottom: 20px;
}

.alert {
  width: 80%;
  min-height: 60px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  color: #333;
  text-align: center;
  padding: 5px 0;
}

.rouge {
  background-color: rgb(243, 48, 87);
}

.orange {
  background-color: rgb(255, 150, 14);
}

.vert {
  background-color: greenyellow;
}

.form_entry_form {
  width: 100%;
}

.creationContainer .test {
  width: 100px;
  height: 100px;
  background-color: #fff;
}

.profilContainer i {
  cursor: pointer;
}
.profilContainer .imgProfil {
  width: 100%;
  margin: 20px auto;
}
.profilContainer .imgProfil img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.profilContainer .formPsw {
  margin-top: 20px;
  margin-bottom: 20px;
}
.profilContainer .btn_disable {
  pointer-events: none;
  background-color: #c4c4c4;
  box-shadow: none;
  opacity: 0.5;
}
.profilContainer .btn_info {
  background-color: rgb(245, 75, 75);
  box-shadow: 0px 0px 0px red;
  font-size: 16px;
  pointer-events: none;
  margin: 10px 0;
}
.profilContainer .btn_info:after {
  display: none;
}
.profilContainer .btn_info:before {
  display: none;
}
.profilContainer #btn_suppression_compte {
  cursor: pointer;
}
.profilContainer .btn_suppression {
  background-color: rgb(245, 75, 75);
  box-shadow: 0px 0px 0px red;
}
.profilContainer .btn_suppression:after {
  display: none;
}
.profilContainer .btn_suppression:before {
  display: none;
}
.profilContainer .btn_suppression:hover {
  box-shadow: 0px 0px 0px red;
  color: black;
}

.droitsContainer table {
  width: 80%;
  text-align: center;
  color: #f1f1f1;
  margin: 10px auto;
  margin-top: 40px;
}
.droitsContainer th,
.droitsContainer td,
.droitsContainer tr {
  padding: 15px;
  border: 1px solid #f1f1f1;
}

body {
  background-color: #333;
  color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */