.profilContainer {
  i {
    cursor: pointer;
  }

  .imgProfil{
    width: 100%;
    margin: 20px auto;
    img{
      width: 250px;
      height: 250px;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
      object-fit: cover;
    }
  }

  .formPsw {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .btn_disable {
    pointer-events: none;
    background-color: #c4c4c4;
    box-shadow: none;
    opacity: 0.5;
  }

  .btn_info {
    background-color: rgb(245, 75, 75);
    box-shadow: 0px 0px 0px red;
    font-size: 16px;
    pointer-events: none;
    margin: 10px 0;
    &:after {
      display: none;
    }
    &:before {
      display: none;
    }
  }

  #btn_suppression_compte {
    cursor: pointer;
  }

  .btn_suppression {
    background-color: rgb(245, 75, 75);
    box-shadow: 0px 0px 0px red;
    &:after {
      display: none;
    }
    &:before {
      display: none;
    }
    &:hover {
      box-shadow: 0px 0px 0px red;
      color: black;
    }
  }

.images_site{
  display: flex;
  flex-wrap: wrap;
  
  .image_site{
    margin: 10px;
    width: 100px;
    height : 100px;
    border-radius: 50%;
    overflow: hidden;

  }
}



}
