.pageSorties {
  max-width: 1440px;
  .sorties1 {
    width: 100%;
    height: 45vw;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid black;
  }

  img {
    height: 100%;
    max-width: 50%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #333;
  }
}

.sorties2 {
  margin-top: 80px;
}

.h3Sorties {
  margin: 3vw;
  line-height: 30px;
  color:#333;
  text-shadow: 0px 0px 1px #333;
}

.groupesSorties {
  width: 94%;
  display: flex;
  margin: 20px auto 40px;
}

.groupeSorties {
  .nomGroupe {
    font-family: Kaushan script;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
  }

  p {
    margin-bottom: 40px;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
    line-height: 25px;
  }
  width: 30vw;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  box-shadow: 2px 2px 8px;
  padding: 20px;
  background: linear-gradient(124deg, rgba(5,93,118,1) 0%, rgba(11,187,236,1) 100%);

  &:nth-child(2) {
    margin: 0 15px;
  }
}

.conclusionSortie {
  margin-bottom: 100px;
}

@media (max-width: 1440px) {
  .pageSorties {
    .sorties1 {
      width: 94%;
      margin: 0 auto;
    }
  }
}

@media (max-width: 900px) {
  .pageSorties {
    .sorties1 {
      flex-direction: column;
      height: auto;
    }

    .sorties2 {
      flex-direction: column-reverse;
    }
    img{
        width: 80vw;
    }
    .groupesSorties{
        flex-direction: column;
    }
    .groupeSorties{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
        line-height: 25px;

        .nomGroupe{
            margin-bottom: 0;
        }
    }

    .conclusionSortie{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 80px;

    }
  }
}
