.alert {
  width:45%;
  min-height: 40px;
  margin: 20px auto;
  @include flexMid;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  color: #333;
  text-align: center;
  padding : 5px 0;
}

.rouge {
  background-color: rgb(243, 48, 87);
}
.orange {
  background-color: rgb(255, 150, 14);
}
.vert {
  background-color: greenyellow;
}
