.carte-velo {
  position: relative;
  width: 400px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid #f1f1f1;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #333;
  overflow: hidden;
  cursor: pointer;

  

  img {
    width: 100%;
    height: 75%;
    object-fit: cover;
  }

  .info {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(
      90deg,
      #033b4b 10%,
      rgba(11, 187, 236, 1) 66%,
      #033b4b 90%
    );
  }

  .info-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 20px;
    white-space: nowrap;
    p {
      display: block;
      margin: 10px 0;
      text-shadow: 0px 0px 1px #333;
      white-space: nowrap;
      color: #f1f1f1;
      font-size: 20px;
    }
  }

  .info-content-1 {
    width: 66%;
    
  }
  .info-content-2 {
    width: 33%;
    align-items: center;
  }

  .plus {
    position: absolute;
    color: #055d76;
    border: 3px solid #f1f1f1;
    border-radius: 50%;
    font-size: 30px;
    background-color: #f1f1f1;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  form {
    position: absolute;
    visibility: hidden;
  }
}
