footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 3px);
  background: linear-gradient(
    0deg,
    rgb(35, 35, 35) 0%,
    rgba(100, 100, 100, 1) 50%,
    rgba(35, 35, 35, 1) 100%
  );
  color: #e9e9e9;
  width: 100%;
  // height: 30px;
  @include flexMid;
  z-index: 20;
  font-family: Kaushan script;
  font-size: clamp(16px, calc(14px + 0.8vw), 24px);
  letter-spacing: calc(1px + 0.02vw);
  padding: 10px;
  a {
    color: #e9e9e9;
  }
}
