header {
  z-index: 20;
}

.barre-fixe {
  width: 100%;
  max-height: 90px;
  background-color: #c4c4c4;
  background: linear-gradient(
    0deg,
    #033b4b 0%,
    #0bbbec 50%,
    #033b4b 100%
  );
  color: #e9e9e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 2vw;
  z-index: 20;

  h1 {
    font-size: clamp(25px, calc(20px + 1.5vw), 45px);
    letter-spacing: calc(1px + 0.15vw);
    text-shadow: 1px 1px 2px #055D76;
    text-align: center;
    width: 100%;
    margin: 0;
    cursor: pointer;
    a {
      color: #e9e9e9;
    }
  }
}
.modal-contact {
  font-size: calc(14px + 0.6vw);
  display: flex;
  align-items: center;justify-content: center;
  text-shadow: 1px 1px 1px #055D76;
  cursor: pointer;
  color: #e9e9e9;
}

.navigation {
  padding: 0.4vw 0 0.8vw;
  background-color: #0bbbec;
  box-shadow: inset 0px -1px 10px #333;
  max-height: 50px;
  .navlinks-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #333;
    // padding-bottom: 10px;
    a {
      font-size: clamp(16px, calc(10px + 0.72vw), 24px);
      font-weight: 500;
      position: relative;
      color: #333;

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 1.5px;
        transform: scaleX(0);
        transform-origin: left;
        background: #f1f1f1;
        transition: transform 0.3s;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
}
@media (max-width: 900px) {
  .navigation {
    max-height: none;
    width: 100%;
    height: 91vh;
    position: absolute;
    transform: translateX(-100%);
    opacity: 0%;
    transition: all 0.5s;
    background: linear-gradient(
      90deg,
      rgba(11, 187, 236, 1) 20%,
      rgba(241, 241, 241, 0.23841255252100846) 100%
    );
    box-shadow: none;

    .navlinks-container {
      flex-direction: column;
      justify-content: start;
      align-items: start;

      a {
        margin: 20px 10px 20px 5vw;
        font-weight: bold;
        width: fit-content;
      }
    }
  }
  .nav-visible {
    transform: translateX(0%);
    opacity: 100%;
  }

  .btn-hamburger {
    width: 30px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;

    span {
      display: block;
      width: 100%;
      height: 3px;
      background-color: #e9e9e9;
      position: absolute;
      border-radius: 2px;
      pointer-events: none;
      transform: translateX(0%);
      transition: all 0.3s 0.15s ease-out;
      box-shadow: 1px 1px 1px #0bbbec;

      &:nth-child(1) {
        transform: translateY(-8px);
        transition: transform 0.3s ease-out;
      }
      &:nth-child(3) {
        transform: translateY(8px);
        transition: transform 0.3s ease-out;
      }
    }
  }
  .btn-hamburger.nav-visible span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  .btn-hamburger.nav-visible span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }
  .btn-hamburger.nav-visible span:nth-child(2) {
    transform: translateX(-200%);
    opacity: 0;
    transition: all 0.3s ease-out;
  }
}
